<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suites">

    <listeners>
        <listener class-name="utility.ITestExecutionListener"/>
    </listeners>

    <test name="Smoke">
        <classes>
            <class name="tests.SomeTests"/>
        </classes>
    </test>
</suite>
